button:hover {
    background-color: #3C4048;
}

* {
    margin: 0px;
    padding: 0px;
}

.headerImage {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);

}
.header1 {
    font-size: 60px;
    font-family: "Poppins";
    color: #3C4048;
    font-weight: bold;
    padding-top: 30px;
}
.header2 {
    font-size: 30px;
    font-family: "Poppins";
    color: #3C4048;
    font-weight: bold;
}
.header3 {
    font-size: 18px;
    font-family: "Poppins";
    color: #3C4048;
    font-weight: bold;
}
.header3box {
    font-size: 18px;
    font-family: "Poppins";
    background-color: #3C4048;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    width: 300px;
    text-align: center;
}

p {
    font-family: "Poppins";
    font-size: 14px;
}

.itemContainer {
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.itemContainer2 {
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.description {
    width: 600px;
    padding: 20px;
}
.caseImage {
    padding: 20px;
}
button {
    font-family: "Poppins";
    font-size: 16px;
    margin-right: 10px;
    padding: 10px;
    background-color: #65C8D6;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}
.nav-link {
    color: #ffffff;
}
.caseFooter {
    background-color: #3C4048;
    color: white;
    font-family: 'Poppins';
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
    padding: 5px;
}
.caseFooter li {
    display: inline-block;
    padding: 10px;
}

@media only screen and (max-width: 450px) {
    .itemContainer {
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;    
    }

    .caseImage {
        width: 300px;
    }

    .headerImage {
        width: 300px;
    }
    .itemContainer2 {
        display: flex;
        flex-direction: column;
    }
    
}